.logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-size: 400px;
    display: flex;
    align-items: center;
    
    svg {
        font-size: 2rem;
    }
}

.nav {
    padding: 4rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}